<div class="sidebar" style="border: solid 1px gray;">
    <span class="material-icons" color='white'>
        addchart
    </span>
    <span style="height: 150px;"></span>
    <div style="display: flex;flex-direction: column;">
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
        <span class="material-icons" style="margin: 8px;">
            addchart
        </span>
    </div>
</div>
<div class="main">
    <mat-toolbar>
        <span class="material-icons">arrow_back</span>
        <span>All Projects</span>
        <span class="spacer"></span>
        <span>My Project</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>