<form #newTaskForm="ngForm">

    <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Placeholder" name='title' [(ngModel)]="newTask.title" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>User</mat-label>
        <input matInput type="number" name='user' placeholder="Placeholder" [(ngModel)]="userCount" min="1">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Image Path</mat-label>
        <input matInput name='imagePath' placeholder="Placeholder" [(ngModel)]="newTask.imagePath">
    </mat-form-field>
    <br>

    <button mat-button color="primary" [mat-dialog-close]="newTask" type="submit" [disabled]="newTaskForm.form.invalid">Save</button>
    <button mat-button color="warn" (click)='closeModal()'>Cancel</button>
</form>